$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #656565;
  text-decoration: none;
}

.center {
  text-align: center;
  margin: auto;
}

.jumbotron {
  background-image: asset-url('winebg.jpg');
  background-image: cover;
  height: 375px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
  border-color: black;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #000;
    color: #777;
}

.article-actions {
  border-top: 1px solid #000;
  padding-top: 5px;
}

.description {
  text-align: center;
  margin-top: 0;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
